body {
    background-color: #cce5ff;
    color: #0000cc;
    font-family: Arial, sans-serif;
    text-align: center; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

h1 {
    font-size: 32px;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

a {
    color: #0000cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
