body {
    width: 900px;
    height: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
}

h3 {
    font-size: 20px;
}

header {
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #BADA55;
    background-color: #B58A69;
    text-align: center;
}

nav {
    font-family: 'Times New Roman', Times, serif; 
    color: #000000;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 30px; 
}

nav a:hover {
    color: red;
}

aside img {
    width: 250px; 
    height: 130px; 
}

section {
    background-color: #DEE5DE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    text-align: center;
    margin-bottom: 10px; 
}

#imagen1 {
    width: 400px;
    height: 250px;
    margin-top: -50px;
}

#texto1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #000000;
}

#texto2 {
    font-size: 20px;
    text-align: justify;
}

#verMasButton {
    display: block;
    background-color: #5E5E4A;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px; /* Aumentado el margen superior */
    margin-left: -220px;
    width: 100px;
    font-size: 14px;
}

aside {
    background-color: #D7D7CB;
    text-align: center;
    padding: 10px; /* Aumentado el padding */
}

aside h2 {
    font-family: 'Avenir Light', sans-serif;
    font-size: 40px;
    color: #000000;
}

footer {
    font-family: 'Avenir Light', sans-serif;
    font-size: 16px; /* Aumentado el tamaño del texto */
    color: #E8E6E6;
    background-color: #5E5E4A;
    text-align: center;
    padding: 20px; /* Aumentado el padding */
}
